<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="Pnet_WebApp_ID" version="2.5">
	<display-name>Jersey REST Service Application</display-name>
	<servlet>
	    <servlet-name>Jersey REST Service</servlet-name>
	    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>jersey.config.server.provider.packages</param-name>
	        <param-value>com.jersey.rest.service</param-value>
	    </init-param>
		<init-param>
		  <param-name>jersey.config.server.provider.classnames</param-name>
		  <param-value>org.glassfish.jersey.jackson.JacksonFeature</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>EmployeeDetail</servlet-name>
	  <servlet-class>com.jersey.rest.servlet.EmployeeDetail</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>EmployeeDetail</servlet-name>
	  <url-pattern>/employee</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>EmployeeList</servlet-name>
	  <servlet-class>com.jersey.rest.servlet.EmployeeList</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>EmployeeList</servlet-name>
	  <url-pattern>/employees</url-pattern>
	</servlet-mapping>
	<resource-ref>
	  <description>This is for POSTGRES database</description>
	  <res-ref-name>jdbc/postgresDS</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>
	<listener>
	  <listener-class>com.jersey.rest.core.DataSourceListener</listener-class>
	</listener>
</web-app>
